<div class="flex
            mb-10
            h-auto w-96
            bg-white
            drop-shadow-3xl
            border-2
            rounded">
            <form class="basis-full"
                  autocomplete="off"
                  [formGroup]="loginForm"
                  (ngSubmit)="login()"
                  >
                <div class="flex flex-col justify-between">
                    <div class=" flex flex-col text-center basis-12/12 pt-4">
                        <span id="span-login" class="text-3xl">Login</span>
                    </div>
                    <div class="flex flex-col justify-start mt-4">
                        <div class="flex flex-col">
                            <label for="email" class="text-2xl font-bold pl-5">Email</label>
                        </div>
                        <div class="flex flex-col mx-5">
                            <input type="text"
                                    id="email"
                                    class="input-field"
                                    name="email"
                                    placeholder="email@email.com"
                                    formControlName="email">
                                    <span *ngIf="isValidField('email')"  class="text-red-800">
                                      Debe de ser en formato de email valido
                                  </span>
                        </div>

                    </div>
                    <div class="flex flex-col justify-start mt-4">
                        <div class="flex flex-col">
                            <label for="password" class="text-2xl font-bold pl-5">Password</label>
                        </div>
                        <div class="flex flex-col mx-5">
                            <input type="password"
                                    id="password"
                                    class="input-field"
                                    name="password"
                                    formControlName="password">
                            <span *ngIf="isValidField('password')" class="text-red-800">El password debe tener mas de 6 caracteres</span>
                        </div>
                    </div>
                    <div class="flex flex-row justify-between mt-4 pl-6 pr-2">
                        <div class="basis-6/12 text-blue-600">
                            <span class="text-lg">Forgot password?</span>
                        </div>
                        <div class="basis-4/12 text-blue-600 ">
                            <a [routerLink]="['/auth/register']" class="text-lg" >Register now!</a>
                        </div>
                    </div>
                    <div class="flex flex-row justify-center mt-8 mb-4">
                        <div class="flex flex-col basis-4/12">
                            <button type="submit"
                                    class="border
                                          bg-sky-500
                                           hover:drop-shadow-2xl
                                            py-3 rounded
                                            text-lg
                                            font-semibold"
                                      [ngClass]="{ 'opacity-50 cursor-not-allowed': loginForm.invalid }"
                                      [disabled]="loginForm.invalid"
                                      type="submit"
                                      >
                                Iniciar sesión
                            </button>
                        </div>
                    </div>
                </div>
            </form>
</div>
